#cabecalho{
    position: relative;
    display: block;
    left: 50%;
    transform: translate(-35%);
    width: 100%;
}

nav{
    align-items: center;
}

.logo{
    width: 140px;
    margin: 25px 0 0;
}

button{
    display: inline-block;
}

.btn-whats{
    padding: 2px 10px;
    margin: 0 390px;
    background: linear-gradient(81.82deg, #2DA337 6.48%, #23C631 107.81%);
    box-shadow: 0px 4px 10px rgba(30, 177, 254, 0.22);
    border-radius: 26px;
}

.btn-comecar{
    padding: 2px 10px;
    margin: 0 750px;
}